body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #2196F3;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  padding: 10px;
  width: 70%;
  max-width: 500px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  border: none;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #45a049;
}

.add-image-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.add-image-form input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 96%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-image-form button {
  padding: 10px 20px;
  margin: 10px 5px 0 0;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-image-form button:hover {
  background-color: #45a049;
}

.add-image-form button#cancelImageBtn {
  background-color: #f44336;
}

.add-image-form button#cancelImageBtn:hover {
  background-color: #e53935;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.gallery.hidden {
  display: none;
}

.gallery-item {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery-item img {
  max-width: 100%;
  border-radius: 10px;
}

.carousel-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.carousel {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.carousel-controls {
  display: flex;
  align-items: center;
}

.carousel-controls button {
  background: none;
  border: none;
  cursor: pointer;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  width: 200px;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.carousel-slide img {
  width: 400px;
  height: auto;
  max-height: 300px; 
  border-radius: 5px 5px 0 0;
}

/* mettre la bonne taille de chevron */